pip
bnunicodenormalizer
langdetect
pyannote.audio
torchaudio
python-dotenv
banglanlptoolkit
transformers
python-Levenshtein
torch
git+https://github.com/csebuetnlp/normalizer
fastapi
uvicorn
python-multipart
git+https://github.com/m-bain/whisperx.git
python-docx
gradio